@model OficinaTcc.Models.ViewModel.LoginViewModel

<div>
    <form asp-action="Login" method="POST" asp-controller="Conta">
        @Html.ValidationSummary()
        <label>Username</label>
        <input type="text" class="form-control" placeholder="Apelido" asp-for="Username" />

        <label>Senha</label>
        <input type="password" class="form-control" placeholder="Senha" asp-for="Senha" />
        <input type="submit" class="btn btn-primary btn-link btn-wd btn-lg mt-4" value="Logar" />
    </form>
</div>
